.assets
.env
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
.mypy_cache/
.ruff_cache/
.coverage
coverage/
.dev_workspace/
.idea/
.vscode/
.DS_Store
Thumbs.db
node_modules/
bridge/node_modules/
workspace/
